@import '~@angular/material/theming';

@include mat-core();

$peachy-primary: mat-palette($mat-deep-orange, 300);
$peachy-accent : mat-palette($mat-orange, 100);
$peachy-warn : mat-palette($mat-red);

$peachy: mat-light-theme($peachy-primary, $peachy-accent, $peachy-warn);
@include angular-material-theme($peachy);
