<form [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()" class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input formControlName="inputEmail" type="email" matInput placeholder="E-Mail">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="inputPassword" type="password" matInput placeholder="Password">
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" id="submitButton">Log me in!</button>
</form>
