<form [formGroup]="loginForm" (ngSubmit)="signUpOnSubmit()" class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="inputDisplayName" type="text" matInput placeholder="Display Name">
    <mat-icon matSuffix>create</mat-icon>
    <mat-hint>Can be changed later.</mat-hint>
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input formControlName="inputEmail" type="email" matInput placeholder="E-Mail">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="inputPassword" type="password" matInput placeholder="Password">
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" id="submitButton">Sign me up!</button>
</form>
